/* tablet Viuew  */

@media only screen and (min-width:581px) and (max-width:768px){
    .banner{
        width: 700px;
        height:500px;
        margin: auto;
    }

    
    .banner-text {
    padding-left: 40px;
    padding-right: 0px;
   
    }
    .banner-text h2{
    font-size: 25px;
    }
    .banner-img {
    height: 500px;
    width: 100%;
    }
/* -------------------
main section start 
--------------------- */

    main{
        display: inline;
    }
    main section{
        display: flex;
        justify-content: center;
    }
    .menu-box{
       display: none;
    }

    .tab-menu-box{
        display: flex;
    }
    .option{
        border: 1px solid gray;
    }

    .transfer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
/* upcoming match  */
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        }
}



/*---------------------------------------------
                        mobile view-
 -------------------------------  */
@media only screen and (max-width:580px){
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }
    .banner-text {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        text-align: center;
    }

    .banner-img{
        width: 100%;
        height: 100%;
    }

    /* main section  */
    main{
        display: inline;
    }

    main section{
        display: flex;
        justify-content: center;
    }

    .menu-box{
        background-color: white;
    }
    .option{
        border:1px solid gray;
    }

    .transfer{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 20px;
     }
    .transfer-details{
        padding-bottom: 90px;
        margin-bottom: 10px;

    }

    /* footer  */
    .footer-link a{
        display: flex;
        justify-content: center;
    }
    /* upcoming match schedule  */
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        }
}